@media only screen and (max-width: 768px) {

    main #container{
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }

    main #container h1{
        margin: 30px;
    }

    main #container span{
        font-size: 14px;
        margin-left: 10%;
        margin-right: 0;
    }
}