*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(31,37,79,1) 100%);
}

body header{
    width: 100%;
    /* glassmorphism */
    box-shadow: 20px 0px 50px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}

body header img{
    display: block;
    margin: auto;
    padding: 10px 0;
}

.pub1{
    position: absolute;
    top: 0;
    right: 10px;
}

.pub2{
    position: absolute;
    top: 0;
    left: 10px;
}

main #container{
    /* glassmorphism */
    box-shadow: 20px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);

    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

main #container span{
    color: white;
    font-size: 20px;

    margin-left: 25%;
    margin-right: 50%;
}
