*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(31,37,79,1) 100%);
}

body header{
    width: 100%;
    /* glassmorphism */
    box-shadow: 20px 0px 50px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}

body header img{
    display: block;
    margin: auto;
    padding: 10px 0;
}

.pub1{
    position: absolute;
    top: 0;
    right: 10px;
}

.pub2{
    position: absolute;
    top: 0;
    left: 10px;
}

.barre{
    /* glassmorphism */
    box-shadow: 20px 0px 50px rgba(0, 0, 0, 100);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
}

.barre h2{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.barre h2{
    cursor: grab;
}

main #container{
    /* glassmorphism */
    box-shadow: 20px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);

    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

main #container h1{
    color: white;
    text-align: center;
    margin: 30px;
}

main #container span{
    color: white;
    font-size: 20px;

    margin-left: 25%;
}




/* popup */

@keyframes pop{
    from{
        transform: scale(0.5);
    }

    to{
        transform: scale(1);
    }
}

.popup{
    z-index: 2;
    position: fixed;
    width: 70%;
    left: 15%;
    top: 10%;
    background-color: rgba(43, 16, 70, 0.95);
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.5);
    display: unset;

    animation-name: pop;
    animation-duration: 1s;
}

.popup .head{
    background-color: rgba(79, 21, 133, 0.95);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.popup .head .close{
    position: absolute;
    top: 1%;
    right: 1%;
    height: 10%;
    cursor: grab;
}

.popup .head .dynamite{
    position: absolute;
    top: 1%;
    left: 1%;
    height: 10%;
}

.popup .head p{
    padding: 15px;
    font-size: 30px;
}



/* texte */
.popup .box{
    padding: 20px;
}

.popup .box .image_box{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}

.popup .box img{
    height: 100%;
}

.popup h1{
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 25px;
}

.popup p{
    color: white;
    text-align: center;
    font-size: 20px;
}

.popup p a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
    font-weight: bold;
}
